<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>

    <div id="wrapper">
        <h1><img src="static/images/logo.jpg" width="378" height="63" alt="Logo" />
        </h1>
        <div id='body-left'>
            {% block body %}
            {% endblock %}
            <h2 id="h-welcome"><img src="/static/images/h_welcome.gif" width="134" height="28" alt="H Welcome" /></h2>
        
    


        </div>
        <div id='body-right'>
            <ul id="menu">
				<li><a href="/home">function 1</a></li>
				<li><a href="/f2">function 2</a></li>
				<li><a href="http://sc.chinaz.com/">Planning</a></li>
				<li><a href="http://sc.chinaz.com/">Services</a></li>
				<li><a href="http://sc.chinaz.com/">Contact</a></li>
            </ul>
            <p><h1 style="font-family:verdana">{{the_word}}</h1></p>
            <h2 id="h-color"><img src="static/images/h_colours_of_the_world.gif" width="220" height="31" alt="H Colours Of The World" /></h2>
		    <img src="static/images/pic_2.jpg" width="360" height="88" alt="Pic 2" />
		    <h2 id="h-projects"><img src="static/images/h_projects.gif" width="82" height="26" alt="Projects" /></h2>
            {% block head %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>
