{% extends 'bootstrap/base.html' %} #这个模板继承了基模板，为名为"body"的块提供了一个替代块

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/result'>
<table>
<p>SUM UP NUM1 AND NUM2</p>
<tr><td>NUM1:</td><td><input name='a' type='TEXT' oninput = "value=value.replace(/[^\d]/g,'')" width='60'></td> 
</tr>
<tr><td>NUM2:</td><td><input name='b' type='TEXT' oninput = "value=value.replace(/[^\d]/g,'')" width='60' ></td> 
</tr>
</table>
<p>CHECK IT OUT </p>
<p><input value='Do it!' type='SUBMIT'></p>
</form>

{% endblock %}
{% block head %}
<tr>THE ANSWER IS</tr>
<td>{{ ans }}</td>
{% endblock %}
